auto/*
docs/*
code/vis8/*
*.npy
.DS_Store
code/matplotlibrc
# This ignores emacs autosaves
*~
# This ignores stuff created by virtualenv
code/bin/*
code/share/*
code/lib/*
code/include/*
# Those dumb mac dirs
code/__MACOSX/
code/__pycache__/
report/*.pdf
report/*.log
report/*.bbl
report/*.fls
report/*.out
report/*.aux
report/*.blg
report/*latexmk
code/data*